Census data for WA

In [1]:
import numpy as np
import pandas as pd

In [ ]:
pop_2000_2009 = pd.read_csv('https://www.dropbox.com/s/5ah76tcq8r9gy60/Washington%20Census%20Data%202000%20-%202009.csv?dl=1', header=3)
pop_2010_2019 = pd.read_csv('https://www.dropbox.com/s/g2tnmlubdq8592e/Washington%20Census%20Data%202010%20-%202019.csv?dl=1', header=3)

In [ ]:
pop_2000_2009_ = pop_2000_2009.iloc[1:40, :12].drop(['Unnamed: 1'], axis = 1)
pop_2000_2009_.rename(columns={'Unnamed: 0': 'COUNTY'}, inplace=True)
pop_2000_2009_.head()

,COUNTY,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
1,.Adams County,"16,458","16,259","16,445","16,612","16,664","16,918","16,997","17,413","17,782","18,405"
2,.Asotin County,"20,546","20,447","20,490","20,487","20,783","20,908","21,133","21,188","21,393","21,415"
3,.Benton County,"143,131","145,909","150,323","153,596","155,689","157,726","159,564","161,669","166,573","171,122"
4,.Chelan County,"66,648","66,574","66,742","67,173","67,882","68,747","69,536","70,214","70,813","71,679"
5,.Clallam County,"64,269","64,756","65,777","66,301","67,411","68,720","69,642","70,186","70,769","71,077"

In [ ]:
pop_2010_2019_ = pop_2010_2019.iloc[1:40, :].drop(['Census', 'Estimates Base'], axis = 1)
pop_2010_2019_.head()

,Unnamed: 0,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,".Adams County, Washington","18,790","18,877","18,944","19,098","19,177","19,233","19,369","19,651","19,736","19,983"
2,".Asotin County, Washington","21,725","21,971","21,909","22,129","22,190","22,113","22,286","22,509","22,616","22,582"
3,".Benton County, Washington","176,465","180,436","182,373","184,318","186,489","190,218","193,494","198,200","201,286","204,390"
4,".Chelan County, Washington","72,750","73,214","73,472","73,723","74,121","75,041","75,855","76,298","76,752","77,200"
5,".Clallam County, Washington","71,503","71,762","71,766","72,046","72,467","73,202","74,240","75,637","76,551","77,331"

In [ ]:
# Unnamed: 0 is county, state, split it into county and state separately
pop_2010_2019_[['COUNTY', 'STATE']] = pop_2010_2019_['Unnamed: 0'].str.split(',', 1, expand=True)

# drop the original column
pop_2010_2019_.drop(['Unnamed: 0', 'STATE'], axis = 1, inplace = True)

pop_2010_2019_.head()

/tmp/ipykernel_22706/3894333690.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  pop_2010_2019_[['COUNTY', 'STATE']] = pop_2010_2019_['Unnamed: 0'].str.split(',', 1, expand=True)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,COUNTY
1,"18,790","18,877","18,944","19,098","19,177","19,233","19,369","19,651","19,736","19,983",.Adams County
2,"21,725","21,971","21,909","22,129","22,190","22,113","22,286","22,509","22,616","22,582",.Asotin County
3,"176,465","180,436","182,373","184,318","186,489","190,218","193,494","198,200","201,286","204,390",.Benton County
4,"72,750","73,214","73,472","73,723","74,121","75,041","75,855","76,298","76,752","77,200",.Chelan County
5,"71,503","71,762","71,766","72,046","72,467","73,202","74,240","75,637","76,551","77,331",.Clallam County

In [ ]:
assert pop_2000_2009_.shape[0] == pop_2010_2019_.shape[0]  # number of county should be the same

In [ ]:
pop_2000_2019 = pd.merge(pop_2000_2009_, pop_2010_2019_, how = 'outer', on = 'COUNTY')
pop_2000_2019.head()

,COUNTY,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,.Adams County,"16,458","16,259","16,445","16,612","16,664","16,918","16,997","17,413","17,782",...,"18,790","18,877","18,944","19,098","19,177","19,233","19,369","19,651","19,736","19,983"
1,.Asotin County,"20,546","20,447","20,490","20,487","20,783","20,908","21,133","21,188","21,393",...,"21,725","21,971","21,909","22,129","22,190","22,113","22,286","22,509","22,616","22,582"
2,.Benton County,"143,131","145,909","150,323","153,596","155,689","157,726","159,564","161,669","166,573",...,"176,465","180,436","182,373","184,318","186,489","190,218","193,494","198,200","201,286","204,390"
3,.Chelan County,"66,648","66,574","66,742","67,173","67,882","68,747","69,536","70,214","70,813",...,"72,750","73,214","73,472","73,723","74,121","75,041","75,855","76,298","76,752","77,200"
4,.Clallam County,"64,269","64,756","65,777","66,301","67,411","68,720","69,642","70,186","70,769",...,"71,503","71,762","71,766","72,046","72,467","73,202","74,240","75,637","76,551","77,331"

In [ ]:
# convert columns to rows
pop_WA = pd.melt(pop_2000_2019, id_vars=['COUNTY'], var_name='YEAR', value_name='POPULATION')
pop_WA.head()

            COUNTY  YEAR POPULATION
0    .Adams County  2000     16,458
1   .Asotin County  2000     20,546
2   .Benton County  2000    143,131
3   .Chelan County  2000     66,648
4  .Clallam County  2000     64,269

In [ ]:
assert pop_WA.shape[0] == pop_2000_2019.shape[0] * (pop_2000_2019.shape[1]-1)  # number of rows should be the same
assert pop_WA['YEAR'].nunique() == (pop_2000_2019.shape[1]-1)  # number of years should be the same

In [ ]:
# remove the dot in the county name
pop_WA['COUNTY'] = pop_WA['COUNTY'].str.replace('.', '').str.strip()
pop_WA.head()

/tmp/ipykernel_22706/3410495775.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pop_WA['COUNTY'] = pop_WA['COUNTY'].str.replace('.', '').str.strip()

           COUNTY  YEAR POPULATION
0    Adams County  2000     16,458
1   Asotin County  2000     20,546
2   Benton County  2000    143,131
3   Chelan County  2000     66,648
4  Clallam County  2000     64,269

In [ ]:
# Add a column for state
pop_WA['STATE'] = 'WA'
pop_WA.head()

           COUNTY  YEAR POPULATION STATE
0    Adams County  2000     16,458    WA
1   Asotin County  2000     20,546    WA
2   Benton County  2000    143,131    WA
3   Chelan County  2000     66,648    WA
4  Clallam County  2000     64,269    WA

Test merge_pop_datasets.py

In [2]:
from merge_pop_datasets import merge_pop_datasets
early_year_link = 'https://www.dropbox.com/s/5ah76tcq8r9gy60/Washington%20Census%20Data%202000%20-%202009.csv?dl=1'
late_year_link = 'https://www.dropbox.com/s/g2tnmlubdq8592e/Washington%20Census%20Data%202010%20-%202019.csv?dl=1'
state_abbrev = 'WA'
pop_WA_ = merge_pop_datasets(early_year_link, late_year_link, state_abbrev)
pop_WA_.head()

/workspaces/pds-2022-yellow-team/10_code/merge_pop_datasets.py:25: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  pop_2010_2019_[['COUNTY', 'STATE']] = pop_2010_2019_['Unnamed: 0'].str.split(',', 1, expand=True)
/workspaces/pds-2022-yellow-team/10_code/merge_pop_datasets.py:38: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pop['COUNTY'] = pop['COUNTY'].str.replace('.', '').str.strip()

           COUNTY  YEAR POPULATION STATE
0    Adams County  2000     16,458    WA
1   Asotin County  2000     20,546    WA
2   Benton County  2000    143,131    WA
3   Chelan County  2000     66,648    WA
4  Clallam County  2000     64,269    WA