In [2]:
import numpy as np
import pandas as pd

## Shipment

### Florida -- AZ, LA, SC

In [61]:
url = 'https://raw.githubusercontent.com/MIDS-at-Duke/pds-2022-yellow-team/main/20_intermediate_files/fl_ship_merge.csv?token=GHSAT0AAAAAABYIEB2OFUHJQXKWPYKNGVAQY4GP4TQ'
df = pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1720 entries, 0 to 1719
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BUYER_STATE   1720 non-null   object
 1   BUYER_COUNTY  1720 non-null   object
 2   YEAR          1720 non-null   int64
 3   MME           1720 non-null   float64
 4   FIPS Code     1720 non-null   int64
 5   State         1720 non-null   object
 6   STNAME        1122 non-null   object
 7   CTYNAME       1122 non-null   object
 8   POPULATION    1122 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 121.1+ KB

In [53]:
### Summary Statistics for FL and comparison states (SC,LA,AZ)
df['Comparison_State'] = df.groupby('BUYER_STATE')['MME']
df['Comparison_State']

ValueError: Length of values (4) does not match length of index (1720)

In [64]:
df['BUYER_STATE']=df['BUYER_STATE'].replace(['AZ','LA','SC'],'Comparison_State')

In [65]:
df

,BUYER_STATE,BUYER_COUNTY,YEAR,MME,FIPS Code,State,STNAME,CTYNAME,POPULATION
0,Comparison_State,APACHE,2006,4.956969e+06,4001,Arizona,Arizona,APACHE,69066.0
1,Comparison_State,APACHE,2007,5.611684e+06,4001,Arizona,Arizona,APACHE,69278.0
2,Comparison_State,APACHE,2008,5.853244e+06,4001,Arizona,Arizona,APACHE,69520.0
3,Comparison_State,APACHE,2009,7.344332e+06,4001,Arizona,Arizona,APACHE,70591.0
4,Comparison_State,APACHE,2010,7.732743e+06,4001,Arizona,Arizona,APACHE,71828.0
...,...,...,...,...,...,...,...,...,...
1715,Comparison_State,YORK,2010,5.209517e+07,45091,South Carolina,South Carolina,YORK,226871.0
1716,Comparison_State,YORK,2011,5.296504e+07,45091,South Carolina,South Carolina,YORK,230131.0
1717,Comparison_State,YORK,2012,5.644417e+07,45091,South Carolina,South Carolina,YORK,234151.0
1718,Comparison_State,YORK,2013,5.813704e+07,45091,South Carolina,South Carolina,YORK,238736.0
1719,Comparison_State,YORK,2014,6.217813e+07,45091,South Carolina,South Carolina,YORK,244661.0

In [66]:
df['BUYER_STATE'].value_counts()
round(df.groupby('BUYER_STATE')['MME'].describe(),2)

,count,mean,std,min,25%,50%,75%,max
BUYER_STATE,,,,,,,,
Comparison_State,1120.0,5.532070e+07,1.723070e+08,2185.88,4985211.97,14981229.21,4.354434e+07,2.114214e+09
FL,600.0,1.724027e+08,3.462363e+08,628449.83,9807154.29,54206960.72,1.665996e+08,3.026737e+09

In [ ]:
# fl shipment to Arizona before 2010
fl_ship_az = df[df['STNAME'] == 'Arizona']
fl_ship_az1 = fl_ship_az[fl_ship_az['YEAR']<= 2010]
fl_ship_az1.groupby('STNAME')['MME'].mean()

STNAME
Arizona    1.644573e+08
Name: MME, dtype: float64

In [ ]:
# fl shipment to Arizona after 2010
fl_ship_az2 = fl_ship_az[fl_ship_az['YEAR']> 2010]
fl_ship_az2.groupby('STNAME')['MME'].mean()

STNAME
Arizona    2.353518e+08
Name: MME, dtype: float64

In [ ]:
# shipment to Arizona by CTYNAME before 2010
fl_ship_az1.groupby('CTYNAME')['MME'].mean()
fl_ship_az1.max()

BUYER_STATE                    AZ
BUYER_COUNTY                 YUMA
YEAR                         2010
MME             1784577100.201575
FIPS Code                    4027
State                     Arizona
STNAME                    Arizona
CTYNAME                      YUMA
POPULATION              4023132.0
dtype: object

In [ ]:
# shipment to Arizona by CTYNAME after 2010
fl_ship_az2.groupby('CTYNAME')['MME'].mean()
fl_ship_az2.max()

BUYER_STATE                    AZ
BUYER_COUNTY                 YUMA
YEAR                         2014
MME             2114214074.404012
FIPS Code                    4027
State                     Arizona
STNAME                    Arizona
CTYNAME                      YUMA
POPULATION              4094842.0
dtype: object

In [ ]:
# fl shipment to Louisiana before 2010
fl_ship_la = df[df['STNAME'] == 'Louisiana']
fl_ship_la1 = fl_ship_la[fl_ship_la['YEAR']<= 2010]
fl_ship_la1.groupby('STNAME')['MME'].mean()

Series([], Name: MME, dtype: float64)

In [ ]:
# fl shipment to Louisiana after 2010
fl_ship_la2 = fl_ship_la[fl_ship_la['YEAR']> 2010]
fl_ship_la2.groupby('STNAME')['MME'].mean()

Series([], Name: MME, dtype: float64)

In [ ]:
# fl shipment to South Carolina before 2010
fl_ship_sc = df[df['STNAME'] == 'South Carolina']
fl_ship_sc1 = fl_ship_sc[fl_ship_sc['YEAR']<= 2010]
fl_ship_sc1.groupby('STNAME')['MME'].mean()

STNAME
South Carolina    3.766200e+07
Name: MME, dtype: float64

In [ ]:
# fl shipment to South Carolina after 2010
fl_ship_sc2 = fl_ship_sc[fl_ship_sc['YEAR']> 2010]
fl_ship_sc2.groupby('STNAME')['MME'].mean()

STNAME
South Carolina    5.581880e+07
Name: MME, dtype: float64

In [ ]:
# fl shipment to Florida before 2010
fl_ship_fl = df[df['STNAME'] == 'Florida']
fl_ship_fl1 = fl_ship_fl[fl_ship_fl['YEAR']<= 2010]
fl_ship_fl1.groupby('STNAME')['MME'].mean()

STNAME
Florida    1.994386e+08
Name: MME, dtype: float64

In [ ]:
# fl shipment to Florida after 2010
fl_ship_fl2 = fl_ship_fl[fl_ship_fl['YEAR']> 2010]
fl_ship_fl2.groupby('STNAME')['MME'].mean()

STNAME
Florida    1.489932e+08
Name: MME, dtype: float64

In [ ]:
# shipment to Florida by CTYNAME before 2010
fl_ship_fl1.groupby('CTYNAME')['MME'].mean()
fl_ship_fl1.max()

BUYER_STATE                    FL
BUYER_COUNTY           WASHINGTON
YEAR                         2010
MME             3026736844.585425
FIPS Code                   12133
State                     Florida
STNAME                    Florida
CTYNAME                WASHINGTON
POPULATION              2506986.0
dtype: object

In [ ]:
# shipment to Florida by CTYNAME after 2010
fl_ship_fl2.groupby('CTYNAME')['MME'].mean()
fl_ship_fl2.max()

BUYER_STATE                    FL
BUYER_COUNTY           WASHINGTON
YEAR                         2014
MME             1533314549.951288
FIPS Code                   12133
State                     Florida
STNAME                    Florida
CTYNAME                WASHINGTON
POPULATION              2634056.0
dtype: object

### Washington--CO, AZ, NY

In [69]:
url = 'https://raw.githubusercontent.com/MIDS-at-Duke/pds-2022-yellow-team/main/20_intermediate_files/wa_ship_merge.csv?token=GHSAT0AAAAAABYIEB2PMXRBQ3FXCOGK2OR4Y4GRK7A'
df_WA = pd.read_csv(url)
df_WA.head()

,BUYER_STATE,BUYER_COUNTY,YEAR,MME,FIPS Code,State,STNAME,CTYNAME,POPULATION
0,AZ,APACHE,2006,4.956969e+06,4001,Arizona,Arizona,APACHE,69066.0
1,AZ,APACHE,2007,5.611684e+06,4001,Arizona,Arizona,APACHE,69278.0
2,AZ,APACHE,2008,5.853244e+06,4001,Arizona,Arizona,APACHE,69520.0
3,AZ,APACHE,2009,7.344332e+06,4001,Arizona,Arizona,APACHE,70591.0
4,AZ,APACHE,2010,7.732743e+06,4001,Arizona,Arizona,APACHE,71828.0

In [71]:
df_WA['BUYER_STATE']=df_WA['BUYER_STATE'].replace(['CO','AZ','NY'],'Comparison_State')
df_WA['BUYER_STATE'].value_counts()
round(df_WA.groupby('BUYER_STATE')['MME'].describe(),2)

,count,mean,std,min,25%,50%,75%,max
BUYER_STATE,,,,,,,,
Comparison_State,1219.0,73096665.97,1.851588e+08,242.16,5070708.75,16678279.11,55783699.52,2.114214e+09
WA,351.0,61484989.38,1.135400e+08,761058.52,7347821.67,20319301.58,51758630.42,6.469564e+08

In [72]:
# wa shipment to CO before 2012
wa_ship_co = df_WA[df_WA['STNAME'] == 'Colorado']
wa_ship_co1 = wa_ship_co[wa_ship_co['YEAR']<= 2012]
wa_ship_co1.groupby('STNAME')['MME'].mean()

STNAME
Colorado    2.544277e+07
Name: MME, dtype: float64

In [ ]:
# wa shipment to CO after 2012
wa_ship_co2 = wa_ship_co[wa_ship_co['YEAR']> 2012]
wa_ship_co2.groupby('STNAME')['MME'].mean()

STNAME
Colorado    3.000596e+07
Name: MME, dtype: float64

In [ ]:
# wa shipment to AZ before 2012
wa_ship_az = df_WA[df_WA['STNAME'] == 'Arizona']
wa_ship_az1 = wa_ship_az[wa_ship_az['YEAR']<= 2012]
wa_ship_az1.groupby('STNAME')['MME'].mean()

STNAME
Arizona    1.853882e+08
Name: MME, dtype: float64

In [ ]:
# wa shipment to AZ after 2012
wa_ship_az2 = wa_ship_az[wa_ship_az['YEAR']> 2012]
wa_ship_az2.groupby('STNAME')['MME'].mean()

STNAME
Arizona    2.329883e+08
Name: MME, dtype: float64

In [ ]:
# wa shipment to NY before 2012
wa_ship_ny = df_WA[df_WA['STNAME'] == 'New York']
wa_ship_ny1 = wa_ship_ny[wa_ship_ny['YEAR']<= 2012]
wa_ship_ny1.groupby('STNAME')['MME'].mean()

STNAME
New York    8.575867e+07
Name: MME, dtype: float64

In [ ]:
# shipment to NY by CTYNAME before 2012
wa_ship_ny1.groupby('CTYNAME')['MME'].mean()
wa_ship_ny1.max()

BUYER_STATE                   NY
BUYER_COUNTY               YATES
YEAR                        2012
MME             767117238.708112
FIPS Code                  36123
State                   New York
STNAME                  New York
CTYNAME                    YATES
POPULATION             2568538.0
dtype: object

In [ ]:
# wa shipment to NY after 2012
wa_ship_ny2 = wa_ship_ny[wa_ship_ny['YEAR']> 2012]
wa_ship_ny2.groupby('STNAME')['MME'].mean()

STNAME
New York    9.730642e+07
Name: MME, dtype: float64

In [ ]:
# shipment to NY by CTYNAME after 2012
wa_ship_ny2.groupby('CTYNAME')['MME'].mean()
wa_ship_ny2.max()

BUYER_STATE                   NY
BUYER_COUNTY               YATES
YEAR                        2014
MME             625433764.025213
FIPS Code                  36123
State                   New York
STNAME                  New York
CTYNAME                    YATES
POPULATION             2601527.0
dtype: object

In [ ]:
# wa shipment to WA before 2012
wa_ship_wa = df_WA[df_WA['STNAME'] == 'Washington']
wa_ship_wa1 = wa_ship_wa[wa_ship_wa['YEAR']<= 2012]
wa_ship_wa1.groupby('STNAME')['MME'].mean()

STNAME
Washington    6.116464e+07
Name: MME, dtype: float64

In [ ]:
# wa shipment to WA after 2012
wa_ship_wa2 = wa_ship_wa[wa_ship_wa['YEAR']> 2012]
wa_ship_wa2.groupby('STNAME')['MME'].mean()

STNAME
Washington    6.260623e+07
Name: MME, dtype: float64

## Death

### Florida-LA,NV,CO

In [74]:
url = 'https://raw.githubusercontent.com/MIDS-at-Duke/pds-2022-yellow-team/main/20_intermediate_files/florida_death_cleaned.csv?token=GHSAT0AAAAAABYIEB2PBXMJ5LSM23C6NYWSY4GRRIQ'
DE_fl = pd.read_csv(url)
DE_fl.head()

     YEAR  Death Rate (%)  POPULATION    STNAME           CTYNAME Indicator
0  2003.0        0.011088    378785.0  Colorado      Adams County   Control
1  2003.0        0.031644     15125.0  Colorado    Alamosa County   Control
2  2003.0        0.008748    514406.0  Colorado   Arapahoe County   Control
3  2003.0        0.031644     11167.0  Colorado  Archuleta County   Control
4  2003.0        0.031644      4106.0  Colorado       Baca County   Control

In [76]:
DE_fl['STNAME']=DE_fl['STNAME'].replace(['Louisiana','Nevada','Colorado'],'Comparison_State')
DE_fl['STNAME'].value_counts()
round(DE_fl.groupby('STNAME')['Death Rate (%)'].describe(),4)

,count,mean,std,min,25%,50%,75%,max
STNAME,,,,,,,,
Comparison_State,1885.0,0.0282,0.0078,0.0034,0.0278,0.0316,0.0341,0.0783
Florida,871.0,0.0198,0.0077,0.0038,0.0132,0.0207,0.0276,0.0408

In [ ]:
# fl death in LA before 2010
DE_fl_la = DE_fl[DE_fl['STNAME'] == 'Louisiana']
DE_fl_la1 = DE_fl_la[DE_fl_la['YEAR']<= 2010]
DE_fl_la1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Louisiana    0.028055
Name: Death Rate (%), dtype: float64

In [ ]:
# death to LA by CTYNAME before 2010 top 3 county 
DE_fl_la1.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_fl_la2010 = DE_fl_la1[DE_fl_la1['YEAR'] <= 2010].sort_values(ascending=False,by='Death Rate (%)')
DE_fl_la2010.head(3)

,YEAR,Death Rate (%),POPULATION,STNAME,CTYNAME,Indicator
1746,2003.0,0.044122,65727.0,Louisiana,St. Bernard Parish,Control
1831,2005.0,0.039149,58750.0,Louisiana,Acadia Parish,Control
2066,2008.0,0.034511,37669.0,Louisiana,St. Bernard Parish,Control

In [ ]:
# fl death in LA after 2010
DE_fl_la2 = DE_fl_la[DE_fl_la['YEAR']> 2010]    
DE_fl_la2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Louisiana    0.028134
Name: Death Rate (%), dtype: float64

In [ ]:
# death to LA by CTYNAME after 2010 top 3 county 
DE_fl_la2.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_fl_la_after_2010 = DE_fl_la2[DE_fl_la2['YEAR'] > 2010].sort_values(ascending=False,by='Death Rate (%)')
DE_fl_la_after_2010.head(3)

,YEAR,Death Rate (%),POPULATION,STNAME,CTYNAME,Indicator
2529,2015.0,0.038822,46365.0,Louisiana,Washington Parish,Control
2386,2013.0,0.034526,43446.0,Louisiana,St. Bernard Parish,Control
2399,2013.0,0.034285,59286.0,Louisiana,Vermilion Parish,Control

In [ ]:
# death to LA by CTYNAME after 2010 top 3 county
DE_fl_la2015 = DE_fl_la2[DE_fl_la2['YEAR'] > 2010].sort_values(ascending=False,by='Death Rate (%)')
DE_fl_la2015.head(3)

,YEAR,Death Rate (%),POPULATION,STNAME,CTYNAME,Indicator
2529,2015.0,0.038822,46365.0,Louisiana,Washington Parish,Control
2386,2013.0,0.034526,43446.0,Louisiana,St. Bernard Parish,Control
2399,2013.0,0.034285,59286.0,Louisiana,Vermilion Parish,Control

In [ ]:
# fl death in NV before 2010
DE_fl_nv = DE_fl[DE_fl['STNAME'] == 'Nevada']
DE_fl_nv1 = DE_fl_nv[DE_fl_nv['YEAR']<= 2010]
DE_fl_nv1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Nevada    0.02714
Name: Death Rate (%), dtype: float64

In [ ]:
# death to NV by CTYNAME before 2010 top 3 county 
DE_fl_nv1.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_fl_nv2010 = DE_fl_nv1[DE_fl_nv1['YEAR'] <= 2010].sort_values(ascending=False,by='Death Rate (%)')
DE_fl_nv2010.head(3)

        YEAR  Death Rate (%)  POPULATION  STNAME      CTYNAME Indicator
2665  2010.0        0.038770     43848.0  Nevada   Nye County   Control
2555  2004.0        0.033723     43569.0  Nevada  Elko County   Control
2561  2004.0        0.033723     42846.0  Nevada  Lyon County   Control

In [ ]:
# fl death in NV after 2010
DE_fl_nv = DE_fl[DE_fl['STNAME'] == 'Nevada']
DE_fl_nv2 = DE_fl_nv[DE_fl_nv['YEAR']> 2010]
DE_fl_nv2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Nevada    0.027964
Name: Death Rate (%), dtype: float64

In [ ]:
# death to NV by CTYNAME after 2010 top 3 county 
DE_fl_nv_after_2010 = DE_fl_nv2[DE_fl_nv2['YEAR'] >2010].sort_values(ascending=False,by='Death Rate (%)')
DE_fl_nv_after_2010.head(3)

        YEAR  Death Rate (%)  POPULATION  STNAME      CTYNAME Indicator
2755  2015.0        0.044320     54152.0  Nevada  Carson City   Control
2750  2015.0        0.034877     43008.0  Nevada   Nye County   Control
2716  2013.0        0.033723     42905.0  Nevada   Nye County   Control

In [ ]:
# fl death in CO before 2010
DE_fl_co = DE_fl[DE_fl['STNAME'] == 'Colorado']
DE_fl_co1 = DE_fl_co[DE_fl_co['YEAR']<= 2010]
DE_fl_co1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Colorado    0.028136
Name: Death Rate (%), dtype: float64

In [ ]:
# death to NV by CTYNAME before 2010 top 3 county 
DE_fl_co1.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_fl_co2010 = DE_fl_co1[DE_fl_co1['YEAR'] <= 2010].sort_values(ascending=False,by='Death Rate (%)')
DE_fl_co2010.head(3)

       YEAR  Death Rate (%)  POPULATION    STNAME         CTYNAME Indicator
511  2010.0        0.031644     10054.0  Colorado     Yuma County   Control
296  2007.0        0.031644       963.0  Colorado  Mineral County   Control
294  2007.0        0.031644     20908.0  Colorado    Logan County   Control

In [ ]:
# fl death in CO after 2010
DE_fl_co = DE_fl[DE_fl['STNAME'] == 'Colorado']
DE_fl_co2 = DE_fl_co[DE_fl_co['YEAR']> 2010]
DE_fl_co2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Colorado    0.028874
Name: Death Rate (%), dtype: float64

In [ ]:
# death to NV by CTYNAME after 2010 top 3 county 
DE_fl_co_after_2010 = DE_fl_co2[DE_fl_co2['YEAR'] >2010].sort_values(ascending=False,by='Death Rate (%)')
DE_fl_co_after_2010.head(3)

       YEAR  Death Rate (%)  POPULATION    STNAME            CTYNAME Indicator
804  2015.0        0.078303     14048.0  Colorado  Las Animas County   Control
672  2013.0        0.031644      8259.0  Colorado  Kit Carson County   Control
723  2014.0        0.031644     53276.0  Colorado       Eagle County   Control

In [ ]:
# fl death in fl before 2010
DE_fl_fl = DE_fl[DE_fl['STNAME'] == 'Florida']
DE_fl_fl1 = DE_fl_fl[DE_fl_fl['YEAR']<= 2010]
DE_fl_fl1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Florida    0.019845
Name: Death Rate (%), dtype: float64

In [ ]:
# death to fl by CTYNAME before 2010 top 3 county 
DE_fl_co1.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_fl_co_2010 = DE_fl_co1[DE_fl_co1['YEAR'] <= 2010].sort_values(ascending=False,by='Death Rate (%)')
DE_fl_co_2010.head(3)

       YEAR  Death Rate (%)  POPULATION    STNAME         CTYNAME Indicator
511  2010.0        0.031644     10054.0  Colorado     Yuma County   Control
296  2007.0        0.031644       963.0  Colorado  Mineral County   Control
294  2007.0        0.031644     20908.0  Colorado    Logan County   Control

In [ ]:
# fl death in fl after 2010
DE_fl_fl = DE_fl[DE_fl['STNAME'] == 'Florida']
DE_fl_fl2 = DE_fl_fl[DE_fl_fl['YEAR'] > 2010]
DE_fl_fl2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Florida    0.019615
Name: Death Rate (%), dtype: float64

In [ ]:
# death to fl by CTYNAME after 2010 top 3 county 
DE_fl_co2.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_fl_co_after_2010 = DE_fl_co2[DE_fl_co2['YEAR'] > 2010].sort_values(ascending=False,by='Death Rate (%)')
DE_fl_co_after_2010.head(3)

       YEAR  Death Rate (%)  POPULATION    STNAME            CTYNAME Indicator
804  2015.0        0.078303     14048.0  Colorado  Las Animas County   Control
672  2013.0        0.031644      8259.0  Colorado  Kit Carson County   Control
723  2014.0        0.031644     53276.0  Colorado       Eagle County   Control

### Washington--OR,OK,HI

In [77]:
url = 'https://raw.githubusercontent.com/MIDS-at-Duke/pds-2022-yellow-team/main/20_intermediate_files/washington_death_cleaned.csv?token=GHSAT0AAAAAABYIEB2O5CWH4D3GDZ2DLKEWY4GRXZQ'
DE_wa = pd.read_csv(url)
DE_wa.head()

     YEAR  Death Rate (%)  POPULATION  STNAME          CTYNAME Indicator
0  2003.0        0.007036    156340.0  Hawaii    Hawaii County   Control
1  2003.0        0.006982    888026.0  Hawaii  Honolulu County   Control
2  2003.0        0.012706       129.0  Hawaii   Kalawao County   Control
3  2003.0        0.012706     60061.0  Hawaii     Kauai County   Control
4  2003.0        0.012706    134742.0  Hawaii      Maui County   Control

In [78]:
DE_wa['STNAME']=DE_wa['STNAME'].replace(['Oregon','Oklahoma','Hawaii'],'Comparison_State')
DE_wa['STNAME'].value_counts()
round(DE_wa.groupby('STNAME')['Death Rate (%)'].describe(),4)

,count,mean,std,min,25%,50%,75%,max
STNAME,,,,,,,,
Comparison_State,1534.0,0.0252,0.0083,0.0034,0.0200,0.0270,0.0325,0.0401
Washington,507.0,0.0201,0.0069,0.0043,0.0145,0.0221,0.0264,0.0314

In [ ]:
# WA death in OR before 2012
DE_wa_or = DE_wa[DE_wa['STNAME'] == 'Oregon']
DE_wa_or1 = DE_wa_or[DE_wa_or['YEAR']<= 2012]
DE_wa_or1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Oregon    0.01858
Name: Death Rate (%), dtype: float64

In [ ]:
# death to OR by CTYNAME before 2012 top 3 county 
DE_wa_or1.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_wa_or_2012 = DE_wa_or1[DE_wa_or1['YEAR'] <= 2012].sort_values(ascending=False,by='Death Rate (%)')
DE_wa_or_2012.head(3)

        YEAR  Death Rate (%)  POPULATION  STNAME         CTYNAME Indicator
1357  2011.0        0.029537     37241.0  Oregon  Clatsop County   Control
1066  2003.0        0.023540     16270.0  Oregon    Baker County   Control
1312  2009.0        0.023540     25038.0  Oregon    Union County   Control

In [ ]:
# WA death in OR after 2012
DE_wa_or2 = DE_wa_or[DE_wa_or['YEAR']> 2012]
DE_wa_or2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Oregon    0.018523
Name: Death Rate (%), dtype: float64

In [ ]:
# death to OR by CTYNAME after 2012 top 3 county 
DE_wa_or1.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_wa_or_after_2012 = DE_wa_or2[DE_wa_or2['YEAR'] > 2012].sort_values(ascending=False,by='Death Rate (%)')
DE_wa_or_after_2012.head(3)

        YEAR  Death Rate (%)  POPULATION  STNAME         CTYNAME Indicator
1482  2014.0        0.025872     46383.0  Oregon  Lincoln County   Control
1484  2014.0        0.023540     30354.0  Oregon  Malheur County   Control
1496  2014.0        0.023540      1351.0  Oregon  Wheeler County   Control

In [ ]:
# WA death in OK before 2012
DE_wa_ok = DE_wa[DE_wa['STNAME'] == 'Oklahoma']
DE_wa_ok1 = DE_wa_ok[DE_wa_ok['YEAR']<= 2012]
DE_wa_ok1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Oklahoma    0.029246
Name: Death Rate (%), dtype: float64

In [ ]:
# death to OK by CTYNAME before 2012 top 3 county 
DE_wa_ok1.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_wa_ok_2012 = DE_wa_ok1[DE_wa_ok1['YEAR'] <= 2012].sort_values(ascending=False,by='Death Rate (%)')
DE_wa_ok_2012.head(3)

       YEAR  Death Rate (%)  POPULATION    STNAME          CTYNAME Indicator
588  2009.0        0.037411     37422.0  Oklahoma  Pontotoc County   Control
742  2011.0        0.037085     37751.0  Oklahoma  Pontotoc County   Control
594  2009.0        0.036203     41433.0  Oklahoma  Sequoyah County   Control

In [ ]:
# WA death in OR after 2012
DE_wa_ok2 = DE_wa_or[DE_wa_or['YEAR']>2012]
DE_wa_ok2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Oregon    0.018523
Name: Death Rate (%), dtype: float64

In [ ]:
# death to OK by CTYNAME after 2012 top 3 county 
DE_wa_ok2.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_wa_ok_after_2012 = DE_wa_ok2[DE_wa_ok2['YEAR'] > 2012].sort_values(ascending=False,by='Death Rate (%)')
DE_wa_ok_after_2012.head(3)

        YEAR  Death Rate (%)  POPULATION  STNAME         CTYNAME Indicator
1482  2014.0        0.025872     46383.0  Oregon  Lincoln County   Control
1484  2014.0        0.023540     30354.0  Oregon  Malheur County   Control
1496  2014.0        0.023540      1351.0  Oregon  Wheeler County   Control

In [ ]:
# WA death in Hi before 2012
DE_wa_hi = DE_wa[DE_wa['STNAME'] == 'Hawaii']
DE_wa_hi1 = DE_wa_hi[DE_wa_hi['YEAR']<= 2012]
DE_wa_hi1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Hawaii    0.011354
Name: Death Rate (%), dtype: float64

In [ ]:
# death to Hi by CTYNAME before 2012 top 3 county 
DE_wa_hi1.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_wa_hi_2012 = DE_wa_hi1[DE_wa_hi1['YEAR'] <= 2012].sort_values(ascending=False,by='Death Rate (%)')
DE_wa_hi_2012.head(3)

      YEAR  Death Rate (%)  POPULATION  STNAME        CTYNAME Indicator
44  2011.0        0.020386    156967.0  Hawaii    Maui County   Control
30  2009.0        0.015745    177835.0  Hawaii  Hawaii County   Control
25  2008.0        0.013039    176399.0  Hawaii  Hawaii County   Control

In [ ]:
# WA death in Hi after 2012
DE_wa_hi2 = DE_wa_hi[DE_wa_hi['YEAR']>2012]
DE_wa_hi2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Hawaii    0.010402
Name: Death Rate (%), dtype: float64

In [ ]:
# death to Hi by CTYNAME after 2012 top 3 county 
DE_wa_hi2.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_wa_hi_after_2012 = DE_wa_hi2[DE_wa_hi2['YEAR'] > 2012].sort_values(ascending=False,by='Death Rate (%)')
DE_wa_hi_after_2012.head(3)

      YEAR  Death Rate (%)  POPULATION  STNAME         CTYNAME Indicator
52  2013.0        0.012706        89.0  Hawaii  Kalawao County   Control
53  2013.0        0.012706     69653.0  Hawaii    Kauai County   Control
57  2014.0        0.012706        89.0  Hawaii  Kalawao County   Control

In [ ]:
# WA death in WA before 2012
DE_wa_wa = DE_wa[DE_wa['STNAME'] == 'Washington']
DE_wa_wa1 = DE_wa_wa[DE_wa_wa['YEAR']<= 2012]
DE_wa_wa1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Washington    0.020161
Name: Death Rate (%), dtype: float64

In [ ]:
# death to WA by CTYNAME before 2012 top 3 county 
DE_wa_wa1.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_wa_wa_2012 = DE_wa_wa1[DE_wa_wa1['YEAR'] <= 2012].sort_values(ascending=False,by='Death Rate (%)')
DE_wa_wa_2012.head(3)

,YEAR,Death Rate (%),POPULATION,STNAME,CTYNAME,Indicator
1683,2006.0,0.031407,41392.0,Washington,Stevens County,Treatment
1760,2008.0,0.027249,462408.0,Washington,Spokane County,Treatment
1694,2007.0,0.027038,70272.0,Washington,Clallam County,Treatment

In [ ]:
# WA death in WA after 2012
DE_wa_wa2 = DE_wa_wa[DE_wa_wa['YEAR']> 2012]
DE_wa_wa2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Washington    0.019956
Name: Death Rate (%), dtype: float64

In [ ]:
# death to WA by CTYNAME after 2012 top 3 county 
DE_wa_wa_after_2012 = DE_wa_wa2[DE_wa_wa2['YEAR'] >2012].sort_values(ascending=False,by='Death Rate (%)')
DE_wa_wa_after_2012.head(3)

,YEAR,Death Rate (%),POPULATION,STNAME,CTYNAME,Indicator
1924,2013.0,0.026438,19080.0,Washington,Adams County,Treatment
2002,2015.0,0.026438,19208.0,Washington,Adams County,Treatment
1997,2014.0,0.026438,4008.0,Washington,Wahkiakum County,Treatment

### Texas--WI,NY,OR

In [79]:
url = 'https://raw.githubusercontent.com/MIDS-at-Duke/pds-2022-yellow-team/main/20_intermediate_files/texas_death_cleaned.csv?token=GHSAT0AAAAAABYIEB2OLZR6IBIL3AW4B33AY4GR5BQ'
DE_tx = pd.read_csv(url)
DE_tx.head()

     YEAR  Death Rate (%)  POPULATION    STNAME             CTYNAME Indicator
0  2003.0        0.005809    298491.0  New York       Albany County   Control
1  2003.0        0.020627     50220.0  New York     Allegany County   Control
2  2003.0        0.009677   1353712.0  New York        Bronx County   Control
3  2003.0        0.010073    198364.0  New York       Broome County   Control
4  2003.0        0.012510     82968.0  New York  Cattaraugus County   Control

In [80]:
DE_tx['STNAME']=DE_tx['STNAME'].replace(['Wisconsin','New York','Oregon'],'Comparison_State')
DE_tx['STNAME'].value_counts()
round(DE_tx.groupby('STNAME')['Death Rate (%)'].describe(),4)

,count,mean,std,min,25%,50%,75%,max
STNAME,,,,,,,,
Comparison_State,2210.0,0.0166,0.0053,0.0008,0.0125,0.0189,0.0206,0.0376
Texas,3302.0,0.0266,0.0086,0.0015,0.0240,0.0318,0.0318,0.0416

In [ ]:
# Tx death in WI before 2007
DE_tx_wi = DE_tx[DE_tx['STNAME'] == 'Wisconsin']
DE_tx_wi1 = DE_tx_wi[DE_tx_wi['YEAR']<= 2007]
DE_tx_wi1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Wisconsin    0.016639
Name: Death Rate (%), dtype: float64

In [ ]:
# death to WI by CTYNAME before 2007 top 3 county 
DE_tx_wi.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_tx_wi_2007 = DE_tx_wi1[DE_tx_wi1['YEAR'] <= 2007].sort_values(ascending=False,by='Death Rate (%)')
DE_tx_wi_2007.head(3)

,YEAR,Death Rate (%),POPULATION,STNAME,CTYNAME,Indicator
4832,2006.0,0.019950,952374.0,Wisconsin,Milwaukee County,Control
4904,2007.0,0.019429,952185.0,Wisconsin,Milwaukee County,Control
4867,2007.0,0.018892,15021.0,Wisconsin,Bayfield County,Control

In [ ]:
# Tx death in WI after 2007
DE_tx_wi2 = DE_tx_wi[DE_tx_wi['YEAR']> 2007]
DE_tx_wi2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Wisconsin    0.016909
Name: Death Rate (%), dtype: float64

In [ ]:
# death to WI by CTYNAME after 2007 top 3 county 
DE_tx_wi_after_2007 = DE_tx_wi2[DE_tx_wi2['YEAR'] > 2007].sort_values(ascending=False,by='Death Rate (%)')
DE_tx_wi_after_2007.head(3)

,YEAR,Death Rate (%),POPULATION,STNAME,CTYNAME,Indicator
5480,2015.0,0.026705,958606.0,Wisconsin,Milwaukee County,Control
5408,2014.0,0.025140,958639.0,Wisconsin,Milwaukee County,Control
5336,2013.0,0.023602,957557.0,Wisconsin,Milwaukee County,Control

In [ ]:
# Tx death in NY before 2007
DE_tx_ny= DE_tx[DE_tx['STNAME'] == 'New York']
DE_tx_ny1 = DE_tx_ny[DE_tx_ny['YEAR']<= 2007]
DE_tx_ny1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
New York    0.014644
Name: Death Rate (%), dtype: float64

In [ ]:
# death to NY by CTYNAME before 2007 top 3 county 
DE_tx_ny.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_tx_ny_2007 = DE_tx_ny1[DE_tx_ny1['YEAR'] <= 2007].sort_values(ascending=False,by='Death Rate (%)')
DE_tx_ny_2007.head(3)

       YEAR  Death Rate (%)  POPULATION    STNAME            CTYNAME Indicator
52   2003.0        0.022101     74774.0  New York    Sullivan County   Control
114  2004.0        0.022101     75351.0  New York    Sullivan County   Control
119  2004.0        0.021783     61979.0  New York  Washington County   Control

In [ ]:
# Tx death in NY after 2007
DE_tx_ny2 = DE_tx_ny[DE_tx_ny['YEAR']> 2007]
DE_tx_ny2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
New York    0.015412
Name: Death Rate (%), dtype: float64

In [ ]:
# death to NY by CTYNAME after 2007 top 3 county 
DE_tx_ny_after_2007 = DE_tx_ny2[DE_tx_ny2['YEAR'] > 2007].sort_values(ascending=False,by='Death Rate (%)')
DE_tx_ny_after_2007.head(3)

       YEAR  Death Rate (%)  POPULATION    STNAME          CTYNAME Indicator
548  2011.0        0.037633     77061.0  New York  Sullivan County   Control
758  2015.0        0.029429    920858.0  New York      Erie County   Control
735  2014.0        0.026076     49855.0  New York     Tioga County   Control

In [ ]:
# Tx death in Or before 2007
DE_tx_or= DE_tx[DE_tx['STNAME'] == 'Oregon']
DE_tx_or1 = DE_tx_or[DE_tx_or['YEAR']<= 2007]
DE_tx_or1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Oregon    0.018522
Name: Death Rate (%), dtype: float64

In [ ]:
# death to Or by CTYNAME before 2007 top 3 county 
DE_tx_or.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_tx_or_2007 = DE_tx_or1[DE_tx_or1['YEAR'] <= 2007].sort_values(ascending=False,by='Death Rate (%)')
DE_tx_or_2007.head(3)

       YEAR  Death Rate (%)  POPULATION  STNAME        CTYNAME Indicator
806  2003.0         0.02354     16270.0  Oregon   Baker County   Control
872  2004.0         0.02354     24327.0  Oregon   Union County   Control
926  2006.0         0.02354      6798.0  Oregon  Harney County   Control

In [ ]:
# Tx death in Or after 2007
DE_tx_or2 = DE_tx_or[DE_tx_or['YEAR']> 2007]
DE_tx_or2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Oregon    0.018595
Name: Death Rate (%), dtype: float64

In [ ]:
# death to Or by CTYNAME after 2007 top 3 county 
DE_tx_or_after_2007 = DE_tx_or2[DE_tx_or2['YEAR'] > 2007].sort_values(ascending=False,by='Death Rate (%)')
DE_tx_or_after_2007.head(3)

        YEAR  Death Rate (%)  POPULATION  STNAME         CTYNAME Indicator
1097  2011.0        0.029537     37241.0  Oregon  Clatsop County   Control
1222  2014.0        0.025872     46383.0  Oregon  Lincoln County   Control
986   2008.0        0.023540     16051.0  Oregon    Baker County   Control

In [ ]:
# Tx death in Tx before 2007
DE_tx_tx= DE_tx[DE_tx['STNAME'] == 'Texas']
DE_tx_tx1 = DE_tx_tx[DE_tx_tx['YEAR']<= 2007]
DE_tx_tx1.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Texas    0.026795
Name: Death Rate (%), dtype: float64

In [ ]:
# death to Tx by CTYNAME before 2007 top 3 county 
DE_tx_tx.groupby('CTYNAME')['Death Rate (%)'].mean()
DE_tx_tx_2007 = DE_tx_tx1[DE_tx_tx1['YEAR'] <= 2007].sort_values(ascending=False,by='Death Rate (%)')
DE_tx_tx_2007.head(3)

        YEAR  Death Rate (%)  POPULATION STNAME         CTYNAME  Indicator
2216  2006.0        0.041554     81822.0  Texas   Orange County  Treatment
2039  2006.0        0.041004     24388.0  Texas  Aransas County  Treatment
1402  2003.0        0.035827     81493.0  Texas  Kaufman County  Treatment

In [ ]:
# Tx death in Tx after 2007
DE_tx_tx2 = DE_tx_tx[DE_tx_tx['YEAR']> 2007]
DE_tx_tx2.groupby('STNAME')['Death Rate (%)'].mean()

STNAME
Texas    0.026415
Name: Death Rate (%), dtype: float64

In [ ]:
# death to Tx by CTYNAME after 2007 top 3 county 
DE_tx_or_after_2007 = DE_tx_tx2[DE_tx_tx2['YEAR'] > 2007].sort_values(ascending=False,by='Death Rate (%)')
DE_tx_or_after_2007.head(3)

        YEAR  Death Rate (%)  POPULATION STNAME          CTYNAME  Indicator
3504  2011.0        0.035827     81103.0  Texas  Rockwall County  Treatment
2996  2009.0        0.035827     81391.0  Texas  Rockwall County  Treatment
2978  2009.0        0.035445     81816.0  Texas    Orange County  Treatment

## Summary Table